@font-face
    font-family: 'Open Sans', sans-serif
    src: url('./assets/fonts/OpenSans-Regular.ttf')

body
    margin: 0px
    padding: 0px
    background-color: rgba(245, 245, 245, 1)
.mouse_cursor
    cursor: pointer
